.DS_Store
TODO
*.scssc
.jshintrc
*.sublime-workspace
/temp
dist
.tmp
/node_modules
*.sublime-workspace
bower.json
.bowerrc
/.tmp
*.log
app/bower_components
/nbproject
/.idea
./vscode
/app/assets/svgs/output
